body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 562.5%;
  line-height: 1;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.0rem;
  color: #11999E;
  font-weight: 600;
  font-size: 2.20rem;
}

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #11999E;
  font-weight: 600;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;

}

hr {
  border: dotted #2A7B9C 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.footer-link {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #9BCFD1;
  text-decoration: none;
  font-size: 1.00rem;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  top: 50px;
}

.btn {
   background: #1E62D6;
   background-image: -webkit-linear-gradient(top, #1E62D6, #264C78);
   background-image: -moz-linear-gradient(top, #1E62D6, #264C78);
   background-image: -ms-linear-gradient(top, #1E62D6, #264C78);
   background-image: -o-linear-gradient(top, #1E62D6, #264C78);
   background-image: -webkit-gradient(to bottom, #1E62D6, #264C78);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat Alternates', sans-serif;
   font-size: 15px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #264C78 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   position: relative;
   top: 2.30rem;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright {
  color: #EAF6F6;
 font-size: 0.75rem;
 padding: 20px 0;
 position: relative;
 top: 50px;
}

.top-container {
  background-color: #2A5585;
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
}

.middle-container {
  background-color: #F9F9F9;
}

.bottom-container {
  background-color: #22446B;
  padding: 40px 0 40px;
  word-spacing: 30px;
}

.contact-me {
  padding: 150px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.contact-h2{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 60x;
  position: relative;
  top: -80px;


}
.contact-h3{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 60x;
  position: relative;
  top: -50px;

}
.contact-p{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
  font-size: 60x
  position: relative;
  top: -*100px;
  bottom: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.NFT {
  border-radius: 25%;
  width: 24%;
  float: right;
}

.webDev {
  border-radius: 50%;
  width: 35%;
  float: left;
  margin-right: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 400px;
}

.bottom-hr{
  position: relative;
top: -80px;
}

.bio{
  color: #11999E;
  font-weight: 550;

}

.bio2{
  font-weight: 100;
}

.mountain {
  position: relative;
  top: 120px;

}
